body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.calculatorBody {
    display: flex;
    flex-direction: column;
    background-color:rgb(172, 204, 255);
    padding: 20px;
    border-radius: 10px;
  
}

.displayMonitor {
    width: 300px;
    height: 75px;
    box-sizing: border-box;
    background-color: rgb(211, 237, 211);
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 10px;
    font-size: 25px;
    color: rgb(31, 92, 31);
    overflow: hidden;
}

.firstLine,
.secondLine, 
.thirdLine, 
.fourthLine, 
.fifthLine {
    display: flex;
}

.num {
    background-color:rgb(241, 198, 255);
    width: 50px;
    height: 35px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

.operator, .evaluate {
    background-color: rgb(255, 176, 231);
    width: 50px;
    height: 35px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;

}

.func {
    background-color: aquamarine;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.firstLine {
    justify-content: right;
}

.notes {
    margin-bottom: 50px;
}
